* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.animal_icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0.5px solid black;
    width: 2rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}